---
Title: Cake.SSRS
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.SSRS is set of aliases for <a href="https://cakebuild.net/">Cake</a> that help simplify deploying objects to SQL Server Reporting Services.
    </p>
</div>